
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>:: VlasBot ::</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body class="grid-container">
  <header class="header" id="header">:: GUI RobotLAB ::</header>
  
  <nav class="navbar">

    <div class="ui-widget">
      <h1 class="ui-value">15</h1>
      <span class="ui-label">Ultrasonico</span>
    </div>

    <div class="ui-widget">
      <h1 class="ui-value">24</h1>
      <span class="ui-label">Temperatura</span>
    </div>

  </nav>

  <article class="camara">cámara
    <img  class="camera-bg" style="width:80%; height:80%;" src="{{ url_for('video_feed') }}">
    <form action="/led/" method="post">
      <button id="btn-led">
        Encender LED 
      </button>
    </form>
  </article>
  <aside class="control-direccion">Control Dirección    

    <form action="/avanzar/" method="post">
      <button id="btn-avanzar">
        Avanzar
      </button>
    </form>

    <form action="/stop/" method="post">
      <button id="btn-stop">
        STOP
      </button>
    </form>
    
    <form action="/derecha/" method="post">
      <button id="btn-derecha">
        Derecha
      </button>
      </form>

      <form action="/izquierda/" method="post">
        <button id="btn-izquierda">
          Izquierda
        </button>
      </form>

    <form action="/retroceder/" method="post">
      <button id="btn-retroceder">
        Retroceder
      </button>
    </form>

  </aside>

  <footer class="footer">Footer</footer>
</body>
</html>